.skz-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  will-change: transform;
  animation-name: spinning;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: bottom right;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
  }

  &:before {
    top: 0;
    right: -10px;
  }

  &:after {
    bottom: -10px;
    left: 0;
  }

  &--mini {
    position: initial;
    width: 10px;
    height: 10px;
    margin-top: -0.5em;
    margin-right: 0.5em;

    &:before,
    &:after {
      width: 4px;
      height: 4px;
      background-color: blue;
    }

    &:before {
      right: -2px;
    }

    &:after {
      bottom: -2px;
    }
  }
}

.skz-spinner {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid blue;
    box-sizing: border-box;
  }

  &--mini {
    width: 10px;
    height: 10px;

    &:before {
      width: 20px;
      height: 20px;
      border: 4px solid blue;
    }
  }
}

@keyframes spinning {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .skz-loader {
    &:before,
    &:after {
      background-color: #ccc;
    }
  }

  .skz-spinner {
    &:before,
    &:after {
      border-color: #ccc;
    }
  }
}
