.skz-project {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #eee;

  &--selected label:after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: #f07662;
  }

  label {
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: 0.8rem;
  }

  &__check {
    display: none;
  }

  &__name {
    display: block;
    margin-bottom: 0;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color linear 0.2s;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: #333;

    &__name:hover {
      background-color: #555;
    }
  }
}
