{
    "extends": [
        "airbnb-base",
        "plugin:jest/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": [
        "jest",
        "svelte3"
    ],
    "overrides": [
        {
            "files": [
                "**/*.svelte"
            ],
            "processor": "svelte3/svelte3"
        }
    ],
    "rules": {
        "import/no-cycle": "off",
        "linebreak-style": 0,
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "__get__"
                ]
            }
        ],
        "arrow-parens": ["error", "as-needed"]
    }
}