{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false
}
