* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 3rem;
  font-family: sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'Icons';
  src: url('./icons.woff');
}

.logo {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

p {
  font-weight: 100;
}

.download {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  text-align: center;
}

.download a {
  flex: 1 1 auto;
  display: inline-block;
  margin: 0 0.5rem 1rem;
  padding: 1rem 1.2rem;
  color: #fff;
  font-weight: 100;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 4px;
  background-color: #00008f;
  transition: background-color linear 0.2s;
}

.download a:hover {
  background-color: #3032c1;
}

section:not(:last-child) {
  margin-bottom: 4rem;
}

section {
  width: calc(100% - 2rem);
  max-width: 50rem;
  margin: 0 auto;
}

.screenshot {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 15px #ccc;
}

.content h2 {
  margin-bottom: 1rem;
}

.secondary {
  display: flex;
  position: relative;
}

.secondary:before {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  text-align: center;
  line-height: 4rem;
  font-family: 'Icons';
  font-size: 2rem;
  color: #fff;
  border-radius: 50%;
  background-color: #00008f;
}

.secondary--favorites:before { content: '\EB00'; }
.secondary--notifications:before { content: '\EA32'; }
.secondary--teams:before { content: '\EB1B'; }