.skz-error-message {
	position: absolute;
	left: 1rem;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

	p {
		margin-bottom: 0.5rem;
	}

	button {
		font-size: 0.8rem;
		text-decoration: underline;
		cursor: pointer;
		border: 0;
		background-color: transparent;

		&:hover {
			text-decoration: none;
		}
	}

	@media (prefers-color-scheme: dark) {
		color: #fff;

		button {
			color: #ccc;
		}
	}
}
