/**
 * Pull request
 */

.skz-pullrequest {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(100, 100, 100, 0.1);
  transition: opacity linear 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.skz-pullrequest__avatar {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  margin-top: -1rem;
  margin-right: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #fff;
}

.skz-pullrequest__thumbnail {
  width: 100%;
  height: auto;
}

.skz-pullrequest__author {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  color: #aaa;

  span {
    margin-left: auto;
  }
}

.skz-pullrequest__title {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.skz-pullrequest__details {
  flex: 1 0 auto;
  width: calc(100% - 4.5rem);
}

.skz-pullrequest__repo {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.skz-pullrequest__counter {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1rem;
  color: #fff;
  font-size: 0.5rem;
  vertical-align: middle;
  font-weight: bold;

  &--approval {
    background-color: #31b531;
  }

  &--valid {
    background-color: #7ab57a;
  }

  &--wait {
    background-color: #ff8d00;
  }

  &--reject {
    background-color: red;
  }
}

.skz-pullrequest-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
}

.skz-pullrequest__counters {
  flex: 0 0 auto;
}

.skz-pullrequest__labels {
  flex: 1 1 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.skz-pullrequest__label {
  padding: 0.2rem;
  font-size: 0.6rem;
  font-weight: normal;
  color: #888;
  line-height: 1.5rem;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #eee;

  &:not(:last-child) {
    margin-right: 0.2rem;
  }
}

.skz-pullrequest__status {
  display: inline-block;
  margin-right: 0.2rem;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: bottom;
  line-height: 1.5;

  &--draft {
    border-color: #777;
    color: #777;
  }

  &--conflicts {
    border-color: red;
    color: red;
  }
}

@media (prefers-color-scheme: dark) {
  .skz-pullrequest {
    background-color: #444;

    &__title {
      color: #fff;
    }

    &__repo {
      color: #ccc;
    }

    &-infos {
      border-top-color: #222;
    }

    &__avatar {
      border-color: #444;
      background-color: #444;
    }
  }
}
