@font-face {
	font-family: 'Icons';
	src: url('./assets/icons.woff');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	overflow: hidden;
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

input:disabled {
	color: #ccc;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
}

::-webkit-scrollbar-corner {
	background-color: #fff;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
	}

	::-webkit-scrollbar-thumb {
		background: #666;
	}

	::-webkit-scrollbar-corner {
		background-color: #444;
	}
}

button.link {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	border: 0;
	background-color: transparent;
}

button.link:hover {
	text-decoration: none;
}
