@font-face {
	font-family: 'Icons';
	src: url('./assets/icons.woff');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	overflow: hidden;
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

input:disabled {
	color: #ccc;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
}

::-webkit-scrollbar-corner {
	background-color: #fff;
}

.skz-splashscreen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.skz-splashscreen__logo {
	height: 100%;
	width: 100%;
	animation: slideUp 0.7s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

.skz-splashscreen__logo--dark {
	display: none;
}

.skz-splashscreen__progress {
	width: 100%;
	text-align: center;
	background-color: #eee;
	position: relative;
	height: 2rem;
}

.skz-splashscreen__progress--bar {
	height: 100%;
	background-color: #23cc56;
}

.skz-splashscreen__label {
	position: relative;
	height: 15%;
}

.btn {
	background-color: #00008f;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
}

button.link {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	border: 0;
	background-color: transparent;
}

button.link:hover {
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
	}

	.skz-splashscreen__logo {
		display: none;
	}

	.skz-splashscreen__logo--dark {
		display: block;
	}

	.skz-splashscreen__progress {
		background-color: #333;
	}

	.skz-splashscreen__label {
		color: #fff;
	}

	::-webkit-scrollbar-thumb {
		background: #666;
	}

	::-webkit-scrollbar-corner {
		background-color: #444;
	}
}
