.skz-offline-banner {
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  background-color: #ff1721;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
