.skz-modal {
	z-index: 5;
	background-color: rgba(245, 245, 245, 0.5);
	display: flex;
	overflow: hidden;
	backdrop-filter: blur(15px);

	&-container {
		width: 100%;
		background-color: #f5f5f5;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 1px 1px 6px #888;
		border: 1px solid #888;
		padding: 1rem;
	}

	&-header {
		display: none;
		justify-content: space-between;
		flex-direction: row;
		border-bottom: 1px solid #ccc;
		padding-bottom: 1rem;
		color: #00008f;

		&--show {
			display: flex;
		}
	}

	&-body {
		margin: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	&-footer {
		display: none;
		justify-content: flex-end;
		flex-direction: row;
		border-top: 1px solid #ccc;
		padding-top: 1rem;
		color: #333;

		&--show {
			display: flex;
		}
	}

	@media (prefers-color-scheme: dark) {
		background-color: #333c;

		&-container {
			background-color: #333;
			box-shadow: 1px 1px 6px #222;
			border: 1px solid #222;
		}

		&-header {
			color: #ccc;
			border-bottom: 1px solid #444;
		}

		&-footer {
			color: #f5f5f5;
			border-top: 1px solid #444;
		}
	}
}
