$close-color: #fe6057;
$close-color-active: #e9574f;
$min-color: #ffbf2b;
$min-color-active: #d8a225;
$max-color: #28cd41;
$max-color-active: #22aa36;

.window-controls {
	align-items: center;
	display: flex;
	-webkit-app-region: no-drag;
	justify-content: space-evenly;
	padding-left: 0.75rem;
}

.window-controls .button {
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 0 0.25rem;
	transition: 200ms;

	& svg {
		transition: 200ms;
		transition-timing-function: ease-in-out;
		display: none;
	}
}

.window-controls:hover svg {
	display: flex;
}

.close-button {
	background-color: $close-color;

	&:active {
		background-color: $close-color-active;
	}
}

.min-button {
	background-color: $min-color;

	&:active {
		background-color: $min-color-active;
	}
}

.restore-button,
.max-button {
	background-color: $max-color;

	&:active {
		background-color: $max-color-active;
	}

	& svg {
		transform: rotate(-45deg);
	}
}
