$close-color: #b40d1b;
$button-hover-light: #ddd;
$button-hover-dark: #666;
$svg-fill: #fff;

.window-controls {
	align-items: center;
	display: flex;
	-webkit-app-region: no-drag;
	justify-content: space-evenly;
}

.window-controls .button {
	position: relative;
	background-color: transparent;
	width: 50px;
	height: 100%;
	transition: 200ms;

	& path {
		transition: 200ms;
		transition-timing-function: ease-in-out;
	}
}

.close-button:hover {
	background-color: $close-color;
}

.restore-button:hover,
.max-button:hover,
.min-button:hover {
	background-color: $button-hover-light;
}

.close-button:hover path {
	fill: $svg-fill;
}

@media (prefers-color-scheme: dark) {
	.button path {
		fill: $svg-fill;
	}

	.restore-button:hover,
	.max-button:hover,
	.min-button:hover {
		background-color: $button-hover-dark;
	}
}
