.skz-login {
	display: flex;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #f5f5f5;

	&__logo {
		width: 300px;
		animation: slideUp 0.7s;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;

		&--dark {
			display: none;
		}
	}

	&__intro {
		margin-bottom: 1rem;
		text-align: center;
		color: #333;
		animation: slideUp 0.7s;
		animation-delay: 0.1s;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;
	}

	&__button {
		position: relative;
		display: block;
		padding: 1rem 1rem 1rem 3.5rem;
		font-size: 1rem;
		font-weight: bold;
		cursor: pointer;
		border: 0;
		border-radius: 4px;
		box-shadow: 0 2px 5px rgba(100, 100, 100, 0.1);
		background-color: #fff;
		transition: transform linear 0.2s;
		animation: slideUp 0.7s;
		animation-delay: 0.2s;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;

		&:active {
			transform: scale(0.97);
		}

		&:before {
			content: '';
			position: absolute;
			left: 1rem;
			top: 50%;
			width: 1.5rem;
			height: 1.5rem;
			background: url('../assets/logo-azure-devops.png') no-repeat;
			background-size: cover;
			transform: translateY(-50%);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.skz-login {
		background-color: #333;

		&__logo {
			display: none;

			&--dark {
				display: block;
			}
		}

		&__intro {
			color: #fff;
		}

		&__button {
			color: #fff;
			background-color: #555;

			&:hover {
				background-color: #666;
			}
		}
	}
}
