.skz-pullrequests-header {
  position: sticky;
  top: -1rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin: -2rem -1rem 3rem -1rem;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(30px);
}

.skz-pullrequests-title {
  font-size: 1.5rem;
  color: #00008f;

  small {
    font-weight: normal;
    font-size: 0.8rem;
  }
}

.skz-pullrequests-filters {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(100, 100, 100, 0.1);
  background-color: #fff;
  transition: transform linear 0.2s, opacity linear 0.2s;

  &:focus {
    text-decoration: underline;
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.skz-refresh-button {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  .skz-pullrequests-title {
    color: #ccc;
  }

  .skz-pullrequests-header {
    border-bottom: 1px solid #444;
    background-color: rgba(50, 50, 50, 0.5);
  }

  .skz-pullrequests-filters {
    color: #ccc;
    background-color: #444;
  }

  .skz-refresh-button {
    color: #ccc;
  }
}
