.skz-pullrequest__labels {
  flex: 1 1 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.skz-pullrequest__label {
  padding: 0.2rem;
  font-size: 0.6rem;
  font-weight: normal;
  color: #888;
  line-height: 1.5rem;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #eee;

  &:not(:last-child) {
    margin-right: 0.2rem;
  }
}
