.skz-pullrequest__labels {
	flex: 1 1 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.skz-pullrequest__label {
	padding: 0.2rem;
	font-size: 0.6rem;
	font-weight: normal;
	color: #fff;
	line-height: 1.5rem;
	text-align: center;
	line-height: 1;
	vertical-align: middle;
	background-color: #555;

	&:not(:last-child) {
		margin-right: 0.2rem;
	}
}
