* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #ccc;
	background-color: #333;
}

.skz-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	background-color: #333;
}

.skz-logo {
	display: block;
	width: auto;
	height: 1.5rem;
}

.skz-nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.skz-nav a:not(:last-child) {
	margin-right: 2rem;
}

.skz-hero {
	position: relative;
	overflow: hidden;
	background: radial-gradient(circle, #333 000%, #000 100%);
}

.skz-title {
	margin-top: 0;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 3rem;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}

.skz-download {
	position: relative;
	z-index: 2;
	display: inline-block;
	padding: 1rem 2rem;
	color: #000;
	font-weight: bold;
	font-size: 1.3rem;
	text-decoration: none;
	border-radius: 8px;
	cursor: pointer;
	opacity: 0.5;
	background-color: #ff8a00;
	transition: opacity linear 0.2s;
}

.skz-download[href] {
	opacity: 1;
}

.skz-download:hover {
	opacity: 0.8;
}

.skz-secondary-download {
	margin-top: 1rem;
	text-decoration: underline;
	font-size: 0.8rem;
	cursor: pointer;
	color: #fff;
}

.skz-secondary-download:hover {
	text-decoration: none;
}

.skz-illustration {
	position: absolute;
	left: 50%;
	bottom: -15rem;
	height: 35rem;
	transform: translateX(-50%);
}

.skz-hero-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3rem;
}

.skz-details {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 3rem;
}

@media only screen and (max-width: 800px) {
	.skz-details {
		grid-template-columns: none;
	}
}

.skz-detail {
	min-width: 12.5rem;
	padding-left: 1rem;
	border-left: 4px solid #ff8a00;
}

.skz-detail p {
	line-height: 1.3;
}

.skz-detail h2 {
	margin-bottom: 1rem;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}

.skz-detail p {
	margin: 0;
}

.skz-footer {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 30rem;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
	padding: 3rem;
	overflow: hidden;
	background: radial-gradient(circle, #333 000%, #000 100%);
}

.skz-footer p {
	position: relative;
	z-index: 2;
}

.skz-download-container {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.skz-footer a:not(.skz-download) {
	color: #fff;
}

.skz-content {
	overflow: hidden;
}

.skz-hero-content p {
	max-width: 45rem;
	margin: 0 auto 2rem;
	line-height: 1.3;
}

.skz-hero-content b {
	color: #ff8a00;
}

.doge {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Comic sans MS', sans-serif;
}

.doge span {
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 1.2rem;
	transition: opacity linear 0.2s;
}

.doge span:nth-child(1) {
	color: red;
	transform: translateX(-10rem) translateY(-5rem);
	transition-delay: 0.1s;
}
.doge span:nth-child(2) {
	color: green;
	transform: translateX(-2rem) translateY(-7rem);
	transition-delay: 0.5s;
}
.doge span:nth-child(3) {
	color: blue;
	transform: translateX(7rem) translateY(-6rem);
	transition-delay: 1s;
}
.doge span:nth-child(4) {
	color: yellow;
	transform: translateX(-9rem) translateY(5rem);
	transition-delay: 1.5s;
}
.doge span:nth-child(5) {
	color: orange;
	transform: translateX(-1rem) translateY(3rem);
	transition-delay: 2s;
}
.doge span:nth-child(6) {
	color: purple;
	transform: translateX(8rem) translateY(5rem);
	transition-delay: 2.5s;
}

[download]:hover ~ .doge span {
	opacity: 1;
}

.skz-features {
	padding: 4rem;
	background-color: #222;
}

.skz-features ul {
	max-width: 40rem;
	margin: 0 auto;
}

.skz-features li {
	display: flex;
	align-items: flex-start;
}

.skz-features li:not(:last-child) {
	margin-bottom: 3rem;
}

.skz-features img {
	flex: 0 0 auto;
	width: 3rem;
	margin-right: 0.5rem;
}

.skz-features h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}

.skz-features p {
	line-height: 1.3;
}

.skz-features b {
	color: #ff8a00;
}
