.skz-repos {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  list-style: none;
  animation: slideDown 0.2s;

  [type='checkbox'] {
    display: none;
  }
}

.skz-repo {
  margin-bottom: 0.5rem;
}

[type='checkbox']:checked + .skz-repo__name:before {
  color: #f07662;
}

.skz-repo__name {
  position: relative;
  display: block;
  padding-left: 1.5rem;
  cursor: pointer;
  line-height: 1.2;

  &:hover {
    color: #f07662;
  }

  &:before {
    content: '\2605';
    position: absolute;
    left: 0;
    top: 0;
    color: #ccc;
    font-size: 1rem;
    transition: color linear 0.2s;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
